# Package

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Training data

In [27]:
train = pd.read_csv("train.csv")
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [28]:
train.shape

(1460, 81)

# Missing data

In [10]:
total = train.isnull().sum().sort_values(ascending = False)
percent = (train.isnull().sum() / train.isnull().count()).sort_values(ascending = False)
missing_data = pd.concat([total, percent], 
                         axis = 1, 
                         keys = ['Total', 'Percent'])
missing_data.head(20)

              Total   Percent
PoolQC         1453  0.995205
MiscFeature    1406  0.963014
Alley          1369  0.937671
Fence          1179  0.807534
FireplaceQu     690  0.472603
LotFrontage     259  0.177397
GarageCond       81  0.055479
GarageType       81  0.055479
GarageYrBlt      81  0.055479
GarageFinish     81  0.055479
GarageQual       81  0.055479
BsmtExposure     38  0.026027
BsmtFinType2     38  0.026027
BsmtFinType1     37  0.025342
BsmtCond         37  0.025342
BsmtQual         37  0.025342
MasVnrArea        8  0.005479
MasVnrType        8  0.005479
Electrical        1  0.000685
Utilities         0  0.000000

My main focus is variable selection, so follwoing the below idea, we delete columns and observatios.
<br>
https://www.kaggle.com/pmarcelino/comprehensive-data-exploration-with-python

In [29]:
COLUMNS_drop = (missing_data[missing_data['Total'] > 1]).index
train = train.drop(labels = COLUMNS_drop, axis = 1)
train.shape

(1460, 63)

In [30]:
INDEX_drop = train.loc[train['Electrical'].isnull()].index
train = train.drop(labels = INDEX_drop, axis = 0)
train.shape

(1459, 63)

In [33]:
COLUMNS = train.columns
COLUMNS_res = ""
COLUMNS_num = train._get_numeric_data().columns
COLUMNS_cat = list(set(COLUMNS) - set(COLUMNS_num))
print('Number of numeric columns: {}'.format(len(COLUMNS_num)))
print('Number of categorical columns: {}'.format(len(COLUMNS_cat)))

Number of numeric columns: 35
Number of categorical columns: 28

One of the numeric column is our response "SalePrice". We put all the numeric variables into variable selection process. We first consider only numeric variables in the selection.